body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f1f1f1;
  overflow: hidden;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form-container2 {
  width: 400px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  border-top: 9.5px solid rgba(45, 41, 41, 0.867);
  min-height: 40vh;
  margin: 2rem 2rem;
}
p {
  font-family: "Courier New", Courier, monospace;
}
